{% extends "main.html" %}
{% block content %}
	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Alarms</h1>
		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


	{% for alarm in latest_alarms %}
		
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 ">
						<h3>we recive below alarm on {{alarm[2]}} with id : {{alarm[1]}} at {{alarm[3]}}</h3>
						<br>
						<h3> {{alarm[0]}}</h3>
						<br>
						<h3>=================================================================================================</h3>

					</div>
				<div class="col-md-1"></div>
			</div>
		
	{% endfor %}

{% endblock %}